<!DOCTYPE html>
<html lang="en">
<head>
        <title>Zaid' Website | {% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
{% load static %}
<link rel='stylesheet' href="{% static 'notes/css/notes.css' %}">
<center>
        <h1>My Notes</h1>
    </center>
    <div class="navbar">
            <div class="dropdown">
            <button class="dropbtn">Notes 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'addnote' %}"> Add New Note</a>
                <a href="{% url 'viewnotes' %}"> View Notes</a>
            </div>
          </div>
          <a href="{% url 'admin:index' %}">Admin</a>
      </div>
<body class="site-background-style">
    {% block content %} 
    {% endblock content %}
    {% block div %}
    {% endblock %}

</body>
</html>
